[Unit]
Description=Example webapp
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/gocode/bin/examplewebapp -daemon=false

#Type=forking
#ExecStart=/usr/local/gocode/bin/examplewebapp -daemon=true
##ExecReload=/bin/sh -c "/bin/kill -HUP `/bin/cat /tmp/exampleapp.pid`"
##ExecStop=/bin/sh -c "/bin/kill -TERM `/bin/cat /tmp/exampleapp.pid`"
#PIDFile=/tmp/exampleapp.pid

[Install]
WantedBy=multi-user.target
