[Unit]
Description=Example webapp
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/gocode/bin/examplewebapp -daemon=false -bind 0.0.0.0:7777

#Type=forking
#ExecStart=/usr/local/gocode/bin/examplewebapp -daemon=true -bind 0.0.0.0:7777
#PIDFile=/tmp/exampleapp.pid

[Install]
WantedBy=multi-user.target
